{% extends "base.html" %} {% block title %} Question {{question_index+1}} {%
endblock %} {% block header %}
<h2>Question: {{question_index + 1}}</h2>
{% endblock %} {% block content%}

<form action="/answer" method="POST">
  <p>{{question}}</p>
  {% for choice in choices %}
  <input
    type="radio"
    name="customer_answer"
    id="{{choice}}"
    value="{{choice}}"
    required
  />
  <label for="{{choice}}"> {{choice}}</label>
  {% endfor %}
  <br />
  <button type="submit">SUBMIT</button>
</form>

{% endblock %}
